.container {
  margin-top: 30px;
}
.card {
  border: white;
  border-radius: 5px;
}

.card-header {
  background: transparent;
}

.card-body {
  color: black;
}

p {
  font-size: 12px;
}
.temperature-card-title {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.temperature-card-text {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

h3 {
  font-size: 20px;
}

.units {
  color: #ffffff;
}

.openSource {
  color: #ffffff;
  text-align: center;
  margin: 275px;
  background: rgb(0, 0, 0, 0.7);
}

#temperature {
  font-size: 30px;
}

a {
  color: #ffffff;
}

a:hover {
  color: #58a6ff;
  cursor: pointer;
}
